  /* verde color: #406c2d;*/

body {
  background-image: url(http://www.publicdomainpictures.net/pictures/230000/velka/green-cactus-background-1497541719sTN.jpg);
  padding-left: 40px;
  margin:0;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}
html {
  overflow: hidden;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 3;
}
.background-darker {
  width:100%;
  height: 100%;
  height: 807.38px;
  background-color: black;
  opacity: .5;
}

canvas {
  border-radius: 15px;
}

.canvas-container {
  flex-basis:70%;
  display: flex;
  justify-content: center;
  order: 2;
}
.instruction-container {
  /*background: #92d3ed;*/
  flex-basis: 25%;
  order: 1;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  background-color: #f55124;
  border: 2px solid #f55124;
  border-radius: 15px;
  box-sizing: border-box;
  justify-content: center;
  color: white;
  /*box-shadow: 10px 10px 5px #d52a2d;*/
    font-family: 'Permanent Marker', cursive;
   background: linear-gradient(#d52a2d, #f55124);
}
.title {
  color: #d52a2d;
  flex-basis: 100%;
  text-align: center;
  font-size: 110px;
  font-family: 'Permanent Marker', cursive;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  margin: 2vh 0;
}

.instruction-title {
  font-family: 'Permanent Marker', cursive;
  margin-left: 60px;
  /*color: #406c2d;*/
  color: white;
}

.keyInstruction {
  margin-left: 30px;
  color: white;
  font-family: 'Permanent Marker', cursive;
}

.leftButton {
  /*margin-top: 20px;*/
  color: white;
  margin-left: 100px;
  font-family: 'Permanent Marker', cursive;
  font-size: 15px;
  background-color: #d52a2d;
  border: 2px solid white;
  border-radius: 10px;
  border-color: #d52a2d;
}

.rightButton {
  /*margin-left: 30px;*/
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 15px;
  background-color: #d52a2d;
  border: 2px solid white;
  border-radius: 10px;
  border-color: #d52a2d;
}
.Instruction-comment {
  padding-left: 8px;
  font-size: 13px;
  color: white;
  font-family: 'Permanent Marker', cursive;
}
#startButton {
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 3px solid #d52a2d;
  border-radius: 10px;
  /*background-color: #f55124;*/
  background-color: #d52a2d;
}
.offset {
  box-shadow:
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);

  &:hover,
  &:focus {
    box-shadow:
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}
/*.score-box {
  border: 2px solid #d52a2d;;
  border-radius: 10px;
  padding-left: 20px;
  width: 107px;
  height: 160px;
}*/
.lives-box {
  font-size: px;
  color: white;
}
#score {
  font-size: 15px;
}
#lives {
  font-size: 15px;
}

.game-over {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 5 ;
}

.game-over img {
  position: absolute;
  margin: auto;
  width: 80%;
  box-sizing: border-box;

}
